.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/

android/local.properties
android/key.properties
android/**/*.jks
android/**/*.keystore
android/.gradle/
android/app/build/

*.g.dart
